<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block head_title %}Title{% endblock %}</title>
  </head>
  <body>
    {% include 'Home/navbar.html' %}

    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
<!--      <p>This is request.user: {{ request.user }}</p>-->
<!--      <p>This is request.path: {{ request.path }}</p>-->
<!--      <p>This is user: {{ user  }}</p>-->
<!--      <p>This is user.is_authenticated: {{ user.is_authenticated }}</p>-->
    {% include 'Home/js.html' %}
  </body>
</html>